# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/contextFreeGrammer/v15/.suo
.vs/contextFreeGrammer/v15/Browse.VC.db
.vs/contextFreeGrammer/v15/Browse.VC.opendb
.vs/contextFreeGrammer/v15/ipch/AutoPCH/27e6fd75011e3a13/REMOVEE.ipch
.vs/contextFreeGrammer/v15/ipch/AutoPCH/4538a5e6e0f05a38/CONTEXTFREEGRAMMER.ipch
